services:
  ros2_humble_sim:
    build:
      context: .
      dockerfile: DockerFiles/Dockerfile

    container_name: ros2_humble_simulator

    stdin_open: true
    tty: true

    environment:
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=28
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all,graphics,compute

    volumes:
      - ./src:/home/ros/ros2_ws/src
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ./bags:/home/ros/ros2_ws/bags

    runtime: nvidia

    command: >
      bash -c "
        source /opt/ros/humble/setup.bash &&
        cd /home/ros/ros2_ws &&
        bash
      "
